<h2 class="ui center aligned icon header">
    <i class="circular orange coffee icon"></i>
    Say something
</h2>
<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content" id="messages">
                <div class="ui feed" id="message-container">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <%= form_with(scope: :message, url: message_path, local: false, html: {class: "ui form"}) do |form|%>
                <div class="ui fluid input">
                    <%= form.text_field :body, autofocus: true, id: "message-input" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid raised card online-user-box">
            <div class="content" id="user-list">
                <div class="ui inverted vertical menu" id="user-container">
                    <p class="active item">
                        Online user
                    </p>
                    <% @users.each do |user| %>
                    <p class="item" id="user-item" data-user-id="<%= user.id %>">
                        <%= user.username%>
                        <% if user.online %>
                        <a class="ui mini green empty circular label" id="online-flag"></a>
                        <% end %>
                    </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>